
.contacts__title {
    margin-bottom: 45px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    padding-left: 0;
    margin-right: 25px;
    white-space: pre-line;

}

.contacts__link {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 100px;
}

.contacts__social-link-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
}

.contacts__email {
    margin-bottom: 36px;
}

.contacts__phone-number {
    margin-bottom: 12px;
}

.contacts__address {
    margin-bottom: 40px;
}

.contacts__main-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 24px;
}

.contacts {
    background: linear-gradient(#1B1A1B, #370A37);
}

.designer {
    text-align: right;
}

.contacts__social-link-icon {
    color: var(--white);
    outline: 1px solid transparent;
    transition-property: all;
    transition-duration: 0.5s;
    background-size: cover;
}

.contacts__social-link-icon:hover {
    color: var(--dark-white);
}

.contacts__social-link-icon:focus {
    color: var(--dark-white);
    outline-color: var(--pink);
}

.contacts__social-link-icon:active {
    color: var(--pink);
    outline: none;
}

@media (max-width: 1024px) {

    .contacts__map {
        max-width: 542px;
        min-height: 274px;
    }

    .contacts__title {
        margin-bottom: 22px;
    }

    .contacts__social-link-item {
        width: 40px;
        height: 40px;
    }

    .contacts__img {
        width: 26px;
        margin-right: 10px;
    }

    .contacts__address {
        margin-bottom: 44px;
    }

    .contacts__main-block {
        margin-bottom: 26px;
    }
}

@media (max-width: 900px) {

    .contacts__main-block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 71px;
    }

    .contacts__contacts-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .contacts__address {
        margin-bottom: 0;
        padding-left: 85px;
    }

    .contacts__title {
        margin-bottom: 29px;
    }

    .inline {
        vertical-align: top;
    }

    .contacts__email {
        margin-bottom: 0;
    }

    .contacts__link {
        padding-left: 0;
        margin-bottom: 33px;
    }

    .contacts__map {
        max-width: 688px;
        min-height: 337px;
    }
}

@media (max-width: 415px) {

    .contacts__social-link-item {
        width: 30px;
        height: 30px;
    }

    .contacts__map {
        max-width: 280px;
        min-height: 194px;
    }

    .contacts__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .inline {
        font-size: 14px;
        line-height: 18px;
    }

    .footer {
        font-size: 12px;
        line-height: 16px;
        flex-direction: column;
        align-items: center;
        gap: 19px;
    }

    .contacts__main-block {
        margin-bottom: 61px;
    }

    .contacts__contacts-item {
        gap: 10px;
    }

    .contacts__social-link-item{
        margin-right: 17px;
    }

    .contacts__phone-number {
        margin-bottom: 0;
    }

    .contacts__img {
        width: 20px;
    }

    .contacts__address {
        padding-left: 51px;
    }
}

