
.questions {
    margin-bottom: 98px;
}
.questions__title {
    margin-bottom: 46px;
}

.questions__faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__faq-list {
    background-color: var(--white);
    color: var(--main-bg-color);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
}

.questions__faq-list:last-child {
    margin-bottom: 0;
}

.questions__faq-list:nth-child(odd) {
    background-color: var(--very-dark-purpur);
    color: var(--white);
}

.questions__faq-list:nth-child(odd) {
    background-color: var(--very-dark-purpur);
    color: var(--white);
}

.white-btn {
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/open.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: all;
    transition-duration: 0.5s;
}

.purple-btn:hover{
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/purple-focus.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.purple-btn:active{
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/purple-active.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.purple-btn {
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/open-purple.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: all;
    transition-duration: 0.5s;
}

.white-btn:hover {
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/white-focus.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.white-btn:active {
    content: " ";
    position: absolute;
    right: 70px;
    top: 22px;
    width: 46px;
    height: 46px;
    background-image: url("../icons/white-active.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.purple-btn,
.white-btn {
    border: none;
    background-color: transparent;
}

.white-btn-img,
.purple-btn-img {
    background-color: transparent;
}

.questions__faq-answer {
    height: 0;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.questions__faq-answer .faq-active {
    height: auto;
}



@media (max-width: 1024px) {

    .questions {
        margin-bottom: 59px;
    }

    .questions__title {
        margin-bottom: 18px;
    }

    .questions__faq-list:last-child {
        display: none;
    }

    .questions__faq-list:nth-child(4) {
        margin-bottom: 0;
    }

    .questions__faq-list,
    .questions__faq-list:nth-child(odd) {
        background-color: var(--white);
        color: var(--main-bg-color);
        font-size: 20px;
        line-height: 24px;
        padding: 24px 30px;
        margin-bottom: 16px;
        min-height: 69px;
    }

    .purple-btn,
    .white-btn {
        background-image: url("../icons/open-purple.svg");
        top: 12px;
        right: 19px;
    }

    .purple-btn:hover,
    .white-btn:hover{
        background-image: url("../icons/purple-focus.svg");
        top: 12px;
        right: 19px;
    }

    .purple-btn:active,
    .white-btn:active{
        background-image: url("../icons/purple-active.svg");
        top: 12px;
        right: 19px;
    }
    
}

@media (max-width: 768px) {

    .questions {
        margin-bottom: 66px;
    }

    .questions__faq-list,
    .questions__faq-list:nth-child(odd) {
        font-size: 18px;
        line-height: 24px;
        padding: 23px 54px;
        margin-bottom: 16px;
    }

    .questions__title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 29px;
    }

    .questions__faq:nth-child(2n+1):after,
    .questions__faq:nth-child(2n):after,
    .questions__faq:nth-child(2n+1):hover:after,
    .questions__faq:nth-child(2n):hover:after,
    .questions__faq:nth-child(2n+1):active:after,
    .questions__faq:nth-child(2n):active:after {
        right: 65px;
    }
}

@media (max-width: 688px) {

    .questions {
        margin-bottom: 31px;
    }

    .questions__faq-list,
    .questions__faq-list:nth-child(odd) {
        font-size: 12px;
        line-height: 16px;
        padding: 15px 18px 0 13px;
        margin-bottom: 10px;
        min-height: 46px;
    }

    .questions__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
    }

    .purple-btn,
    .white-btn,
    .purple-btn:hover,
    .white-btn:hover,
    .purple-btn:active,
    .white-btn:active {
        width: 30px;
        height: 30px;
        right: 14px;
        top: 7px;
    }
}


