.overlay {
    display: none;
    background-color: transparent;
}

.overlay-form {
    display: none;
}

.mobile-menu {
    display: none;
}

.header__menu_close {
    background-color: transparent;
    display: none;
}

@media (max-width: 768px) {

    .mobile-menu {
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #1B1A1B;
        z-index: 50;
        top: 62px;
        left: 0;
        transition: height 0.5s ease-out;
    }

    .mobile-menu.active {
        display: block;
        height: 383px;
        transition: height 0.4s ease-in-out;
    }

    .mobile-menu__content .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 39px;
        padding-top: 58px;
        font-size: 22px;
        line-height: 22px;
    }

    .header__logo-link.active,
    .header__menu.active,
    .header__btn.active {
        position: relative;
        z-index: 52;
    }

    .header__container.active {
        position: relative;
        z-index: 55;
    }

    .header__btn-mobile {
        display: none;
    }

    .header__form-container {
        width: 600px;
        height: 498px;
        left: 0;
        top: 10px;
        position: relative;
        background: #440F51;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        z-index: 50;
    }

    .form-input {
        min-width: 280px;
        height: 52px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .header__form-add {
        border: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .header__btn-submit {
        min-width: 300px;
        min-height: 60px;
        background: #FFFFFF;
        border-radius: 10px;
        text-transform: uppercase;
        color: #6C0287;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        border: 3px solid #FFFFFF;
        box-shadow:  0 0 10px 2px var(--white)
    }

    .form-close-btn {
        border: none;
    }

    .form-close-btn:after {
        content: " ";
        position: absolute;
        background-image: url("../icons/form-closebtn.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 7px;
        right: 21px;
        height: 42px;
        width: 42px;
    }


    .overlay_open {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.9);
        transition: 0.3s ease-in-out;
        display: flex;
    }

    .overlay-form_open {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    .header__btn-popup {
        display: none;
    }

    .header__menu_close.active {
        display: flex;
        order: -1;
        width: 54px;
        height: 29px;
        margin-right: 10px;
        align-self: center;
        border: none;

    }
}

@media (max-width: 320px) {


    .header__link {
        font-size: 14px;
        line-height: 22px;
    }

    .header__form-container {
        max-width: 280px;
        height: 498px;
        left: 0;
        top: 0;
    }

    .header__btn-submit {
        min-width: 240px;
        min-height: 51px;
        font-size: 18px;
        line-height: 28px;
    }

    .form-input {
        min-width: 220px;
        height: 42px;
    }

    .form-title_phone {
        font-size: 20px;
        line-height: 30px;
    }

    .header__btn-popup {
        display: flex;
        min-width: 184px;
        min-height: 37px;
        font-size: 14px;
        line-height: 14px;
        padding: 9px 23px 8px 23px;
        border: 2px solid #CD06FF;
        border-radius: 6px;
    }
}
