.photo-presentation__activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.photo-down {
    transform: translateY(72px);
}

.photo-presentation__description {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    z-index: 1;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 38px;
}

.photo-presentation__item {
    position: relative;
    height: 228px;
    flex-basis: 380px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
}

.photo-presentation__item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px 0 #000000;
}

.photo-presentation__title {
    padding: 0 200px;
    margin-bottom: 44px;
}

.photo-presentation {
    margin-bottom: 170px;
}

@media (max-width: 1400px) {
    .photo-down {
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {

    .photo-presentation {
        margin-bottom: 117px;
    }

    h2 {
        font-size: 30px;
    }

    .photo-presentation__item {
        max-width: 287px;
        max-height: 172px;
    }

    .photo-presentation__description {
        width: 90%;
        padding-bottom: 20px;
    }

    .photo-presentation__activity {
        row-gap: 30px;
    }

    .photo-down {
        transform: translateY(53px);
    }

    .photo-presentation__title {
        padding: 0 150px;
        margin-bottom: 36px;
        line-height: 40px;
    }
}

@media (max-width: 982px) {
    .photo-down {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .photo-presentation {
        margin-bottom: 60px;
    }

    .photo-down {
        transform: translateY(0);
    }

    .photo-presentation__item {
        max-width: 334px;
        max-height: 200px;
    }

    .photo-presentation__title {
        padding: 0 80px;
        margin-bottom: 27px;
    }

    h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .photo-presentation__activity {
        row-gap: 20px;

    }

}

@media (max-width: 320px) {

    .photo-presentation {
        margin-bottom: 30px;
    }

    .photo-presentation__item {
        max-width: 135px;
        max-height: 75px;

    }

    .photo-presentation__title {
        padding: 0 10px;
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 18px;
    }

    .photo-presentation__activity {
        row-gap: 10px;

    }

    .photo-presentation__description {
        font-size: 9px;
        line-height: 14px;
        padding-bottom: 10px;
        width: 85%;
    }
}